* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golroy';
}

html, body {
    height: 100%;
    width: 100%;
    padding-left: 0 1vw;
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 19vw;
    padding: 0 1vw;
}

#page1 h1{
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: Futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.3vw;
    background-color: black;
    color: #fff;
    font-family: Futura;
    text-transform: uppercase;
    font-size: 2vw;
    position: fixed;
    font-size: 1.3vw;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    
}